<div class="login-container">
  <div class="center">
    <h1>
      <a href="/" style="text-decoration: none;">
        <i class="ace-icon fa fa-globe blue"></i>
        <span class="blue">MenuContact</span>
      </a>
    </h1>
  </div>

  <div class="space-6"></div>

  <div class="position-relative">

    <div id="forgot-box" class="forgot-box widget-box no-border">
      <div class="widget-body">
        <div class="widget-main">
          <h4 class="header blue lighter bigger">
            Retrieve Password
          </h4>

          <div class="space-6"></div>
          <p>
            Enter your email and to receive instructions
          </p>

          <form>
            <fieldset>
              <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="Email"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
              </label>

              <div class="clearfix">
                <button type="button" class="width-35 pull-right btn btn-sm btn-primary">
                  <span class="bigger-110">Send Me!</span>
                </button>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- /.widget-main -->




        <div class="widget-main">
          <div class="center">
            <a href="/login" class="blue">
              <i class="ace-icon fa fa-arrow-left"></i>
              Back to login
            </a>
          </div>


        </div>


      </div>
      <!-- /.widget-body -->
    </div>
    <!-- /.forgot-box -->


  </div>
  <!-- /.position-relative -->

</div>


