<div class="page-header">
    <h1>
        Gestionar Restaurante
    </h1>
</div>

<ul class="nav nav-tabs">
    <li><a href="/restaurant/information">Información</a></li>
    <li class="active"><a href="/restaurant/users">Usuarios</a></li>
</ul>

<div class="row">
    <div class="col-xs-12">

    </div>
</div>
